<ion-view>
	<ion-nav-bar class="bar-light">
        <ion-nav-back-button>Atrás</ion-nav-back-button>
    </ion-nav-bar>
	<ion-header-bar class="bar bar-header bar-positive">
		<div class="header"><h1 class="title"><center>PSMSC</center></h1></div>
	</ion-header-bar>
	<ion-header-bar class="bar bar-subheader bar-light">
		<h1 class="title"><center>AYUDA GENERAL</center></h1>
	</ion-header-bar>
	<ion-content>
		<div class="card"> 
			<div class="item">
				<center><button class="button button-balanced icon-left ion-home" ui-sref="inicio">Inicio</button></center>
			</div>
			<label class="item item-text-wrap">La ayuda está en tu cabeza</label>
		</div>
	</ion-content>
</ion-view>