<ion-view>
   <ion-nav-bar class="bar-light">
        <ion-nav-back-button>Atrás</ion-nav-back-button>
    </ion-nav-bar>
  <ion-header-bar class="bar bar-header bar-positive">
      <div class="header">
          <h1 class="title"><center>PSMSC</center></h1>
      </div>
    </ion-header-bar>
  <ion-header-bar class="bar bar-subheader bar-light">
    <h1 class="title"><center>Configuración</center></h1>
  </ion-header-bar>
  <ion-content>
    <div class="list card">
      <a ui-sref="editRegistro" class="item item-icon-left">
          <i class="icon ion-person"></i>Cambiar perfil
        </a>
        <a ui-sref="cambiarContrasena" class="item item-icon-left">
          <i class="icon ion-key"></i>Cambiar contraseña
        </a>
        <a ui-sref="ayudaGral" class="item item-icon-left">
          <i class="icon ion-help"></i>Ayuda
        </a>
    </div>
  </ion-content>
</ion-view>