<ion-view>
	<ion-header-bar class="bar bar-header bar-positive">
		<div class="header">
			<h1 class="title">PSMSC</h1>
		</div>
	</ion-header-bar>
	<ion-header-bar class="bar bar-subheader bar-light">
  		<h1 class="title">Regístrate</h1>
	</ion-header-bar>

	<ion-content style="margin-top:50px">
		<!--ion-header-bar class="bar bar-header bar-positive">
		   <div class="header">
		     <h1 class="title">PSMSC</h1>
		   </div>
		</ion-header-bar>
		<div class="bar bar-subheader bar-positive">
			<h2 class="title">Plataforma Social Móvil de Servicios al Consumidor</h2>
		</div--> 

		<!--div class="bienvenido-nombre">
			<div class="list">
				<div class="item item-icon-right">
					Regístrate
				</div>
			</div>
		</div>

		<div class="selec-categoria">
			<a></a>
		</div-->

		<form role="form" name="editUser" style="margin: 0 auto" ng-include="'Formularios/formRegistro.html'">
			
		</form>
	</ion-content>
</ion-view>