<ion-view>
	<ion-nav-bar class="bar-light">
        <ion-nav-back-button>Atrás</ion-nav-back-button>
    </ion-nav-bar>
	<ion-header-bar class="bar bar-header bar-positive">
		<div class="header"><h1 class="title"><center>PSMSC</center></h1></div>
	</ion-header-bar>
	<ion-header-bar class="bar bar-subheader bar-light">
		<h1 class="title"><center>REGISTRO EXITOSO</center></h1>
	</ion-header-bar>
	<ion-content>
		<div class="card"> 
			<center><button class="button button-balanced icon-left ion-home" ui-sref="inicio">Inicio</button></center>
			<label class="item item-text-wrap"> <center>¡Felicidades! Estás a solo un paso de completar tu registro, inicia sesión en tu correo electrónico y confirma tu registro.</center></label>
			<center><button class="button button-assertive">Gmail</button></center>
		</div>
	</ion-content>
</ion-view>