<ion-view>
	<ion-nav-bar class="bar-light">
        <ion-nav-back-button>Atrás</ion-nav-back-button>
    </ion-nav-bar>
	<ion-header-bar class="bar bar-header bar-positive">
      <div class="header">
        <h1 class="title"><center>PSMSC</center></h1>
      </div>
    </ion-header-bar>
    <ion-header-bar class="bar bar-subheader bar-light">
    	<h1 class="title"><center>Olvidé mi contraseña</center></h1>
    </ion-header-bar>

    <ion-content>
    	<div class="card">
    		<div class="item">
    			<center><button class="button button-balanced icon-left ion-home" ui-sref="inicio">Inicio</button></center>
    		</div>
    		<div class="list list-inset">
	    		<div class="item divider">
	    			<label>Ingresa el correo electrónico: </label>
	    		</div>
	    		<label class="item item-input">
	    			<input type="text" placeholder="correo electrónico">
	    		</label>
	    	</div>
    		<div class="item">
    			<center><button class="button button-positive">Recuperar contraseña</button></center>
    		</div>
    	</div>
	</ion-content>
</ion-view>